#shopping-list{
    margin: 100px auto;
    width: 100%;
    max-width: 600px;
    padding: 20px 20px;
    border-radius: 7px;
    box-shadow: 4px 4px 7px rgba(0,0,0, 0.5);
}

ul {
    margin: 15px 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}

.additem {
    width: 100%;
    margin: 15px 0;
}

.strikeout {
    color: gray;
    text-decoration: line-through;
}

.priority {
    background-color: greenyellow;
}